torch==2.3.1
torchvision==0.18.1
numpy>=1.24,<2
scipy
scikit-learn
pandas
matplotlib
seaborn
Pillow
ftfy
regex
tqdm
yacs
opencv-python<4.12
scikit-image
tensorboard
simple-lama-inpainting
gdown
future
wilds==1.2.2
tabulate
